:root {
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrap {
  display: grid;
  justify-content: center;
}

header {
  text-align: center;
  font-size: 2rem;
}

main {
  /* max-width: 960px; */
}

.form-wrap {
  margin-bottom: 60px;
}

form ul {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

form li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.checkbox-container {
  justify-content: flex-start;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;

}

.book-card {
  background-color: #cccccc;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding-bottom: 1rem;
}


